/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}
h2{
font-size:32px;
user-select:none;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
border-bottom:1px solid white;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    margin: 0;
user-select:none;
}

header nav {
    display: flex;
    align-items: center;
}

header .hamburger {
    display: none;
    cursor: pointer;
}

header .hamburger i {
    font-size: 25px;
    color: #fff;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}

header nav ul li {
    margin: 10px 20px;
position: relative;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s, background-color 0.2s,border-bottom 0.2s;
display: block;
}
header nav ul li a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: #f4f4f4;
    transition: width 0.3s;
    position: absolute;
    bottom: -3px;
    left: 0;
    border-radius: 5px;
}

header nav ul li a:hover::after {
    width: 100%;
}


/* Sections styles */
section {
    padding: 50px 0;
}

#about {
    background-color: #fff;
    padding: 100px 0;
height:450px;

}


.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
font-size:20px;
}

.about-content img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-right: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.about-content img:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.about-content p {
    width: 60%;
    margin: 0;
user-select:none;
}

#projects ,#internship{
    background-color: #333;
    color: #fff;
    padding: 50px 0;
}

.project-list,.internship-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project,.internship {
    background-color: #444;
    padding: 20px;
    margin: 20px;
    width: calc(33.33% - 40px); /* Adjust to fit three projects per row */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project img ,.internship img{
    width: 100%;
    height: auto;
border:2px solid black;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.internship:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.project h3 ,.internship h3{
    margin-top: 10px;
}

#education ,#skills{
    background-color: #fff;
    padding: 50px 0;
user-select:none;
}

.education-list,.skills-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.education-item,.skills-item {
    margin-bottom: 20px;
}

.education-item h3 {
    margin: 0;
    font-size: 1.5em;
}
.skills-item h3 {
    margin: 0;
    font-size: 1.5em;
}


.education-item p {
    margin: 5px 0 0 0;
}
.skills-item p {
    margin: 5px 0 0 0;
}


/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer .social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
}
footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .social-media a:hover {
    color: #f4f4f4;
    transform: scale(1.2);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    max-width: 600px;
    margin: 10px 0;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: #555;
}
.contact-form input:hover {
    border:1px solid black;
}
.contact-form textarea:hover {
    border:1px solid black;
}
/* Responsive styles */
@media (max-width: 768px) {
    header .nav-links {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60%;
       left:0;
        background-color: #333;
        padding: 5px 0;
        text-align: center;
        display: none;
    }

    header .nav-links.active {
        display: flex;
    }

    header .hamburger {
        display: flex;
    }

    header nav ul {
        flex-direction: column;
        padding: 0;
    }
a{
display:block;
}
    header nav ul li {
        margin: 10px 0;
    }

    .about-content img {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .about-content p {
        width: 90%;
       margin-bottom: 30px;


    }
#about{
height:500px;
padding: 200px 0px;
padding-top:0px;
}

 .project ,.internship{
        width: calc(45% - 40px); /* Increase size for mobile view */
        margin: 10px auto; /* Center projects on mobile */
    }
.education-list, .skills-list {
        width: 100%;
    }

    .education-item, .skills-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .skills-item p {
        margin-bottom: 30px;
    }
 footer .social-media {
        flex-direction: column;
    }

    footer .social-media a {
        margin: 10px 0;
    }
}